<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Shopping List Check Off</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
        list-style: none;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="toBuyListController as tbl">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tbl.items">{{$index + 1}}: Buy {{item.quantity}} {{item.name}} 
        <button ng-click="tbl.removeItem($index);tbl.addItem(item.name,item.quantity)" class="btn btn-default">
          <span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-show="tbl.items.length < 1" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="boughtListController as bl">
     <h2>Already Bought:</h2>
     <ul ng-show="bl.BougthItems.length >= 1">
       <li ng-repeat="item in bl.BougthItems">{{$index + 1}}: Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-show="bl.BougthItems.length < 1" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
